* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 50, 0.8), rgba(0, 0, 50, 0.8)),
    url(./images/background.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.form-box {
  width: 90%;
  max-width: 400px;
  background-color: #ffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 2rem;
}
.form-box h1 {
  font-size: 1.6rem;
  color: blue;
  margin-bottom: 2rem;
  position: relative;
}
.input-elements {
  background-color: rgb(194, 194, 194);
  margin: 0.8rem 0;
  border-radius: 3px;
  display: flex;
  align-items: center;
  max-height: 65rem;
  overflow: hidden;
  transition: max-height 1s;
}
input {
  width: 100%;
  background: transparent;
  outline: 0;
  border: 0;
  padding: 10px 8px;
}

.input-elements #eyeshow {
  margin-left: -5rem;
}
.input-elements i {
  margin-left: 9px;
  color: #9999;
}
form p {
  text-align: left;
  font-size: 0.9rem;
  margin-top: 1rem;
}
form p a {
  text-decoration: none;
}
.button-field {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.button-field button {
  background-color: blue;
  color: white;
  height: 2rem;
  width: 5rem;
  outline: 0;
  border: 0;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: 400ms all ease;
}
.button-field button:hover {
  background-color: rgb(90, 125, 251);
}
.button-field button.disable {
  background-color: #9999;
}
